.container {
  border: 1px solid rgba(0,0,0,0.1);
  background-color: rgba(91, 124, 216, 0.123);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 30px;
  padding: 10px 15px 15px;
}

.container > *:not(:last-child) {
  margin-right: 50px;
}

.description {
  font-weight: bold;
  margin-bottom: 10px;
}

.key {
  border: 1px solid rgb(117, 118, 122);
  background-color: rgb(155, 170, 190);
  
}

.hint-toggle span {
  margin-right: 0.5em;
}

.hint-toggle {
  color: var(--gray);
  cursor: pointer;
}

