.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 5px;
}

.list-item {
  border: 1px solid black;
  outline: none
}

li.list-item:focus  {
  border: 1px solid red;
}
