# LAS Credentials
LAS_CLIENT_ID=<las_client_id>
LAS_CLIENT_SECRET=<las_client_secret>
LAS_API_KEY=<las_api_key>
LAS_AUTH_ENDPOINT=<las_auth_endpoint>
LAS_API_ENDPOINT=<las_api_endpoint>

# Others
EMAIL=<Email address that will receive error messages if something fails>
